*{
	font-family: sans-serif;
}

body{
	margin: 0;
}

.main-content{
	display: flex;
	flex-direction: column;
}

.spaceholder{
	flex: 1 0 150px;
}

h1{
	padding: 0;
	margin: 0;
}
a,
.text p{
	text-decoration: none;
	font-size: 18px;
	color: #E5E7EB;
}
/* Header style */
.header .spaceholder{
	flex: 0 0 150px;
}
.header{
	display: flex;
	flex: 0 0 50px;
	align-items: center;
	background-color: #1F2937;
}

.header h1{
	flex: 1;
	font-size: 24px;
	color: #F9FAF8;
}

ul{
	display: flex;
	gap: 16px;
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
}
/* Upper content style */
.cont-up{
	display: flex;
	flex: 0 0 400px;
	align-items: center;
	background-color: #1F2937;
}

img{
	height: 250px;
	width: auto;
	margin-left: 80px;
}

.text h1{
	color: #F9FAF8;
	font-size: 48px;
}

button{
	background-color: #3882F8;
	color: white;
	padding: 3px 20px;
	border-radius: 8px;
	border-color: #3882F8;
}

.information{
	display: flex;
	flex: 0 0 120px;
	align-items: center;
	justify-content: center;
}

.information h1{
	font-size: 36px;
	font-weight: 900;
}
.cont-mid-up{
	display: flex;
	flex: 1 0 350px;
	gap: 45px;
	justify-content: center;
	align-items: flex-start;
}

.img-cont .image{
	height: 160px;
	width: 160px;
	border: 3px solid #3882F8;
	border-radius: 20px;
}

.img-cont{
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 160px;
	text-align: center;
}
/*Lower content style*/
.cont-mid-low{
	display: flex;
	flex: 1 1 500px;
	background-color: #E5E7EB;
	justify-content: space-between;
	align-items: center;
}

.quote{
	width: 800px;
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
	margin-bottom: 0;
}
.author{
	display: flex;
	justify-content: flex-end;
	margin-top: 0;
}

.cont-low{
	display: flex;
	flex: 0 0 200px;
	align-items: center;
}

.cont-inside{
	background-color: #3882F8;
	flex: 5 0 auto;
	display: flex;
	justify-content: center;
	height: 100px ;
	align-items: center;
	border-radius: 10px;
}
.cont-inside button{
	margin-left: 100px;
	border-color: white;
}
.text-action p{
	margin: 0;
	color: white;
}

.text-action p strong{
	font-size: 25px;
}
/* Footer style */
.footer{
	background-color: #1F2937;
	display: flex;
	justify-content: center;
}
.footer p{
	color: white;
	margin: 30px;
}




